@font-face{
    font-family: "Neo Latina";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/NeoLatina-gnx5.ttf");
}

/* @font-face{
    font-family: "Geliat";
    font-style: normal;
    font-weight: 200;
    src: url("fonts/GeliatExtralight-6YLRq.otf");
}

@font-face{
    font-family: "Timeburner";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Timeburner-xJB8.ttf");
}

@font-face{
    font-family: "Trench";
    font-style: normal;
    font-weight: 100;
    src: url("fonts/TrenchThin-aZ1J.ttf");
} */